body {
    font-family: 'Montserrat', sans-serif;
    background-color: #f0f4ef;
    color: #0d1821;
    height: auto;
    width: 89%;
}

#newHTML {
    background-color: #0d1821;
    color: #f0f3ef;
    font-family: Montserrat;
    font-size: 40px;
    font-weight: lighter;
}

#newHTMLDiv {
    width: 70%;
    position: relative;
    left: 10%;
    padding-top: 10%;
}

#sideSection {
    position: fixed;
    top: 40%;
    left: 20px;
    font-size: 25px;
    width: 12%;
    float: left;
    display: flex;
    flex-direction: column;
    display: none;

}

#aboutMeSection {
    padding-bottom: 10%;

}

#spacerDiv {
    height: 10px;;
}

#projectsSection {
    padding-top: 10%;
    padding-bottom: 200px;
    font-size: 20px;
}

#sectionContainer {
    width: 85%;
    float: right;
}

#mainHeader {
    position: relative;
    left: 6%;
    top: 10px ;
    padding-bottom: 250px;
}

#mainHeaderTop {
    font-size: 30px;
    padding-bottom: 1%;
    padding-top: 14.5%;
}

#mainHeaderBottom {
    font-size: 85px;
    margin-top: -20px;
    line-height: 70px;
    padding-bottom: 10%;
}

#topLinks {
    display: flex;
    justify-content: space-evenly;
    position: relative;
    left: -2%;
    padding-top: 10%;
    margin-bottom: 10%;
    padding-bottom: 10%;
    font-size: 20px;
}

#pAM {
    border-bottom: solid;
    position: relative;
    right: 10%;
    
}
#pProj {
    border-bottom: solid;
}
#pCont{
    border-bottom: solid;
    position: relative;
    left: 10%;
}

#aboutMeHeader {
    padding-top: 10%;
    padding-bottom: 10%;
    font-size: 65px;
    position: relative;
}

#abmPNG {
    height: 70px;
    width: auto;
    position: relative;
    top: 6.5px;
    color: white;
}

#abmCont {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-size: 18px;
}

#picture {
    width: 400px;
    height: auto;
}
#picDiv {
    float: right;
}
#textDiv {
    float: left;
    width: 50%;
}

#abmDivList {
    position: relative;
    left: 10%;
    font-size: 20px;
    margin-top: -12%;
}

#familiarTech {
    list-style-type: square;
    position: relative;
    left: 50px;
}

#projectHeader {
    font-size: 65px;
    display: flex;
    justify-content: center;
    position: relative;
    right: 2%;
    padding-top: 10%;
    padding-bottom: 10%;
}
#rocket {
    height: 46px;
    padding-left: 20px;
}

#pHead {
    display: flex;
    justify-content: center;
    position: relative;
    right: 2%;
    font-size: 20px;
    padding-bottom: 10%;
}

#projectContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
#projectMiniContainer { 
    padding-top: 20px;
}

#project1 {
    border-style: solid;
    border-width: 5px;
    border-color: #344966;
    height: 290px;
    background-color: #0d1821;
    color: #f0f4ef;
    width: 100%;

}
#project2,
#project3,
#project4,
#project5 {
    padding-top: 10%;
    padding-bottom: 30%;
    height: 250px;
    width: 720px;
    border-style: solid;
    border-width: 5px;
    border-color: #344966;
    background-color: #0d1821;
    color: #f0f4ef;
}

#contactSection {
    padding-bottom: 10%;
    font-size: 20px;
}

#contactHeader {
    font-size: 65px;
    display: flex;
    justify-content: center;
    position: relative;
    right: 1%;
    padding-top: 10%;
    padding-bottom: 10%;
}
#contactPic {
    height: 50px;
    padding-left: 10px;
}

#contactLinks {
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 5%;
    position: relative;
    right: 3%;

}

#link1,
#link2,
#link3 {
    border-bottom: solid;
    border-style: solid;
    border-color: #0d1821;
    margin-bottom: 2%;

}


#resumeLink {
    display: flex;
    justify-content: center;
    position: relative;
    right: 2%;
    margin-bottom: 15%;
}

#resumeImage {
    height: 30px;
    padding-left: 10px;
}

@media (max-width) {
}